#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* global.css veya benzeri bir stil dosyasında */

input {
  background-color: #f0f0f0; /* Hafif gri arka plan rengi */
  border: 1px solid #ccc; /* Gri sınır rengi */
  border-radius: 4px; /* Köşe yuvarlama */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
  padding: 10px; /* İç boşluk */
  width: 100%; /* Tam genişlik */
  font-size: 16px; /* Yazı tipi boyutu */
  color: #333; /* Metin rengi */
  outline: none; /* Odaklandığında varsayılan kenarlık kaldırılır */
  transition: box-shadow 0.3s ease-in-out; /* Yumuşak geçiş efekti */
}

input:focus {
  border-color: #4caf50; /* Odaklanıldığında yeşil sınır rengi */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Odaklanıldığında daha belirgin gölge */
}

.inputContainer {
  display: flex;
  align-items: center;
  border-radius: 4px; /* Köşe yuvarlama */
  border: 1px solid #ccc; /* Gri sınır rengi */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
  width: fit-content;
}

.input {
  background-color: #f0f0f0; /* Hafif gri arka plan rengi */
  border: none; /* Varsayılan sınırı kaldır */
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  outline: none;
  width: 60px; /* Input genişliği */
  text-align: center; /* Metin ortalama */
}

.button {
  background-color: #4caf50; /* Yeşil düğme arka plan rengi */
  border: none;
  border-radius: 4px;
  color: white; /* Düğme metin rengi */
  padding: 10px;
  cursor: pointer; /* İmleç işareti */
  font-size: 16px;
  width: 30px; /* Düğme genişliği */
  height: 30px; /* Düğme yüksekliği */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #45a049; /* Üzerine gelindiğinde daha koyu yeşil */
}

.button:active {
  background-color: #388e3c; /* Tıklandığında daha koyu yeşil */
}
